body{
    margin:0;
    padding:0;
    font-family: 'Titillium Web', sans-serif;
    background-color:rgb(20,20,20);
}

#title{
    text-align: center;
}

#page-wrap{
    margin:auto;
    width:100%;
    padding-bottom:1000px;
    max-width: 1200px;
    background-color:rgb(45,45,45);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
}

#banner{
    width:100%;
    height:100px;
    background-color:rgb(30,30,30);
    position:relative;
}

#logo{
    content:url("../images/logo-dark.png");
    float:left;
    height:75px;
    margin-top: 12px;
    margin-left:20px;
}

#cart-icon{
    float:right;
    height:30px;
    margin-top:30px;
    margin-right:40px;
}

h1{
    text-align: center;
    color:white;
}


.box{
    text-align: center;
    width:220px;
    height:300px;
    display: inline-block;
    margin-left:50px;
    margin-top:10px;
    background-color:rgb(100,100,100);
    border-radius: 10px;
    border:1px solid #000;
    transition-duration: 0.3s;
}

.box:hover{
   background-color:rgb(150,150,150); 
}

.box h2,h3{
    color:white;
    margin-top:10px;
}

.box img{
    height:120px;
}

.cart-item{
    width:100%;
    max-width: 500px;
    height:100px;
    margin:auto;
    padding-top:10px;
    box-sizing: border-box;
    background-color:rgb(100,100,100);
    color:white;
    position: relative;
    margin-top:10px;
    display: block;
    border-radius: 10px;
    border:2px solid #000;
    
}

.cart-item h2{
    float:left;
    margin-left:20px;
    margin-right:20px;
}

.button2{
    border:none;
    background-image: url(../images/kill-dark.png);
    background-size: cover;
    position:absolute;
    width:30px;
    height:30px;
    top:30px;
    right:10px;
    cursor: pointer;
}

.button1 {
    background-color: dodgerblue;
    border-radius: 5px;
    border:1px solid black;
    color: white;
    font-size: 75%;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1:hover{
    background-color:deepskyblue;
    box-shadow: 0px 5px 14px -8px rgba(0,0,0,0.75);
}

#count{
    position: absolute;
    color:crimson;
    top:40px;
    right:45px;
    font-weight: 900;
    font-size:130%;
    
}

#notification{
    position:absolute;
    top:-100px;
    right:100px;
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top:25px;
    padding-left:25px;
    width:200px;
    height:75px;
    background-color:dodgerblue;
    color:rgb(230,230,230);
    transition-duration: 0.4s;
    box-shadow: 0px 5px 14px -8px rgba(0,0,0,0.75);
}


#empty-button{
    clear: both;
    text-align: center;
    float:left;
    background-color: crimson;
    border:none;
    border-radius: 10px;
    color: white;
    margin-top:30px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
}

#checkout-button{
    text-align: center;
    float:right;
    background-color: dodgerblue;
    border:none;
    border-radius: 10px;
    color: white;
    margin-top:30px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
}

.empty-message{
    text-align:center;
    color:white;
}

#button-zone{
    width:100%;
    margin:auto;
    max-width: 500px;
}

#empty-button:hover{
    box-shadow: 0px 5px 14px -4px rgba(0,0,0,0.75);
}

#checkout-button:hover{
	background-color: deepskyblue;
	box-shadow: 0px 5px 14px -4px rgba(0,0,0,0.75);
}
