html {
	scroll-behavior:smooth;
}

body{
    margin:0;
    padding:0;
    font-family: 'Ubuntu', sans-serif;
    background-color:rgb(33,37,43);
}

a{
    text-decoration: none
}

p{
    color: rgb(170,170,170);
}

#title{
    text-align: center;
}

#banner{
    width:200px;
    height:100%;
    background-color:rgba(40,44,52,1) ;
    position:fixed ;
    text-align: center;
}

#page-wrap{
    margin: auto;
    padding-left:200px;
    max-width: 1250px;
    width:calc(100% - 200px);
}

#logo{
    padding-bottom: 25vh;
    font-size: 13pt;
    font-weight: 800;
    color:#eee;
}

#beauLogo{
    width:80%;
    margin-top:20px;
    padding-bottom: 25vh;
    opacity:1;
    transition: opacity ease-in-out 0.2s;
}

h2{
    position: relative;
    display:inline;
    margin-left:10px;;
    color: rgb(99,148,236);
    color:rgba(57, 139, 206, 1);
}

.anchor {
    position:absolute;
    top:-15px;
}

h3{ 
    margin-left:30px;
    color:rgb(175, 175, 175);
}

.description{
    font-family: 'Titillium Web', sans-serif;
    margin-left: 30px;
    margin-right: 30px;
}

.contentBox{
    margin: auto;
    padding-bottom: 30px;
    border-bottom: solid;
    border-width: 3px;
    border-color: rgb(40,44,52) ;
}

.imageParent{
    text-align: center;
    margin-left:30px;
}


.imageParent img{
    cursor:pointer;
    transition: 0.15s ease;
    filter: grayscale(100%);
    height: 300px;
}

.imageParent img:hover{
    transition: 0.15s ease;
    filter: grayscale(0%);
}

.menuItem {
    font-size:13pt;
    margin:auto;
    margin-top:10px;
    padding-top:5px;
    padding-bottom: 6px;
    border-radius: 4px;
    width:120px;
    transition: ease-out 0.4s;
    color:rgb(0, 204, 255);
    /* background-color:rgba(255,255,255,0.05); */
}

#github{
    position: absolute;
    width:25%;
    bottom:40px;
    left:50%;
    transform: translateX(-50%);
}

.menuItem:hover{
    /* background-color:rgba(255,255,255,0.4); */
    cursor: pointer;
    color:white;
    
}

.icon{
    position:relative;
    margin-left:30px;
    top:16px;
    left:10;
    height:50px;
}

.thumbnailParent{
    text-align: center;
/*    margin-left:30px;*/
}

.thumbnail {
    cursor:zoom-in;
    transition: 0.15s ease;
    filter: grayscale(100%);
    max-height: 300px;
    max-width: 100%;
}

.thumbnail:hover{
    transition: 0.15s ease;
    filter: grayscale(0%);
}

.lightbox {
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	max-width: 90%;
	max-height: 85%;
    margin-top:50vh;
    transform: translateY(-50%)
}

.lightbox:target {
	outline: none;
	display: block;
}

.galleryContainer{
    margin: auto;
    width:100%;
}

.col div{
    width:100%;
    height:auto;
}


.col img {
    margin-top:-5px;
    width:100%;
}

.medium{
    color:white;
    text-align: center;
    font-size:15px;
    z-index: 10;
    width:100%;
    top:-20px;
    margin-top:-20px;
    position:relative;
    background-color: rgba(0,0,0,0.5);
}

.artContainer {
  position: relative;
  width: 50%;
}

.col:nth-child(1){
    width:50%;
    float: left;
}

.col:nth-child(2){
    width:50%;
    float: right;
}

.text{
    display: none;
    text-align: center;
    color:rgba(245,245,245,0.95);
/*    font-family: 'Titillium Web', sans-serif;*/
    background-color: rgba(0,0,0,0.25);
    position: absolute;
    bottom:0px;
    width:100%;
    padding-top: 10px;
    margin-bottom:5px;
    padding-bottom: 10px;
}

.artContainer:hover .text{
    display:block;
}

@media only screen and (max-width: 850px) {
    
    .col:nth-child(1){
        width:100%;
        float: left;
    }   

    .col:nth-child(2){
        width:100%;
        float: left;
    }
    
    #banner{
    z-index: 8;
    width:100%;
    height:130px;
    position:fixed ;
    top:0;
    text-align: center;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.25);
    }
    
    #beauLogo{
        all:reset;
        position: absolute;
        left:20px;
        width:100px;
    }

    #logo{
        font-size:0px;
        padding-bottom: 0px;
        margin-bottom: 20px;
        margin-top: 13px;
    }
    
    .menuItem {
        font-size: 16px;
        margin:50px -20px 0 -20px; 
        margin-top: 50px;
        display:inline-block;
    }
    
    #page-wrap{
        margin: auto;
        margin-left:-200px;
        margin-top:130px;
        width:100%;
    } 
    
    .thumbnail {
        filter: grayscale(0%);
    }   
    
    .anchor{
        position:absolute;
        top:-150px;
    }

    #github{
        all:unset;
        position: absolute;;
        height:30%;
        right:30px;
        bottom:50%;
        transform: translateY(50%);
    }
    
}

@media only screen and (max-width: 550px) {
    #github{
        all:unset;
        position: absolute;
        height:25%;
        top:50%;
        transform: translateY(-50%);
        right:20px;
    }

    #beauLogo{
        /* opacity:0; */
        width:60px;
        margin-top:30px;
    }
}
@media only screen and (max-width: 450px) {
    #beauLogo{
        margin:0;
        left:20px;
        top:10px;
        width:50px;
    }

    #github{
        all:unset;
        position: absolute;
        height:25%;
        top:10px;
        right:20px;
    }
    .menuItem{
        margin:85px 0 0 0; 
        font-size:5vw;
        width:30%;
    }
}


